body {
}


.quiz-result {
margin-top: 25px;
padding: 20px;
font-size: 1.2rem;
border-radius: 12px;
background: #fffbe7;
box-shadow: 0 0 15px rgba(0,0,0,0.1);
}


.choice-grid {
display: flex;
flex-wrap: wrap;
justify-content: center;
gap: 20px;
}


.choice {
padding: 14px 20px;
background: #6bffe5;
border: none;
border-radius: 10px;
cursor: pointer;
font-size: 1rem;
transition: 0.3s;
}


.choice:hover {
transform: scale(1.1);
background: #3bf7d2;
}


.final {
margin-top: 40px;
padding: 30px;
background: #ffffffb8;
border-radius: 18px;
box-shadow: 0 0 20px rgba(0,0,0,0.1);
text-align: center;
}


.hidden {
display: none;
}


footer {
text-align: center;
padding: 40px;
background: #ff9ce6;
color: white;
margin-top: 60px;
border-radius: 20px 20px 0 0;
}